@use "./fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
  --font-family: "Space Grotesk", sans-serif;
}

.btn{
  all: unset;
  border: 1px solid #c72eff;
  border-radius: 50px;
  padding: 10px 43px;
  box-shadow: 0 0 10px 1px #c72eff;
  background: rgba(199, 46, 255, 0);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: #c72eff; 
  cursor: pointer; 
}

.active{
  box-shadow: 0 0 10px 1px #c72eff;
  background: #c72eff;
  color: #fff;
}

body{
  background: black;
}

.title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 74px;
    color: #c72eff;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1305px;
}

.nav{
    padding: 23px 0;
    background: transparent;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list{
        display: flex;
        gap: 35px;

        &_link a{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 24px;
            color: #fff;
            transition: .3s ease;
        }

        &_link a:hover{
            color: #c72eff;
        }
    }

    &__contact{
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        font-family: var(--font-family);
        position: relative;
        width: 200px;
        height: 50px;
        border-radius: 50px;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        // box-shadow: 0 0 1px 1px #c72eff;
        background: rgba(217, 217, 217, 0);
        border: 2px solid transparent;
        transition: all 0.3s ease;
        &:hover{
            color: #c72eff;
        }
        &::after{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50px;
            box-shadow: 0 0 20px rgba(199, 46, 255, 0.8),
              0 0 40px rgba(199, 46, 255, 0.5);
            opacity: 0.4;
            transition: opacity 0.4s ease;
        }
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50px;
            padding: 2px;
            background: linear-gradient(
              90deg,
              rgba(199, 46, 255, 0) 0%,
              rgba(199, 46, 255, 1) 50%,
              rgba(199, 46, 255, 0) 100%
            );
            background-size: 200% auto;
            animation: borderFlow 3s linear infinite;
            -webkit-mask: 
              linear-gradient(#fff 0 0) content-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        @keyframes borderFlow {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}
}
}


.header{
    position:  relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;

    &__content{
          position: relative;
          max-width: 800px;
          padding: 20px;

          &_title{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 74px;
            text-align: center;
            color: #fff;
            position: relative;
            display: inline-block;
            z-index: 1;
            animation: fadeIn .3s ease forwards;

            &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            height: 400px;
            transform: translate(-50%, -50%);
            background: var(--circle-color);
            filter: blur(100px);
            border-radius: 50%;
            z-index: -1;
            opacity: 0.8;
            transition: background 0.6s ease;
            }        
          }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.socials{
    position: absolute;
    left: 0;
    bottom: -50px;

    &__text img{
        width: 28px;
        height: 28px;
        gap: 15px;
        cursor: pointer;
        background: transparent;
    }
    &__text{
        display: flex;
        gap: 15px;
        align-items: center;
    }
}

.about{
  padding-top: 200px;
  &__text{
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;

    & span{
      color: #c72eff;
    }
  }
}

.skills__title{
  text-align: center;
}

.skills{
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    transition: .3s ease;
  }
}

.skills__inner_list{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
  min-height: 120px;
}

.skill__item{
  border: 1px solid white ;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  &_title{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
  }
  & img{
    width: 50px;
    height: 50px;
  }
}

.portfolio{
  padding-top: 150px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_page{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
    }
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    gap: 43px;
    margin-bottom: 50px;
    align-items: center;
  }

  &__item { 
    position: relative;

    &:hover{
      cursor: pointer;
    }

    &:hover h3{
      opacity: 0;
    }
  }

  &__item_title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    background: rgba(199, 46, 255, 0.93);
    border-radius: 0 0 10px 10px;
    padding: 22px 0 22px 0;
    max-width: 291px;
    transition: .3s ease;
  }
}

.page{
  text-align: center;
}

.more__btn{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: #c72eff;
  background: #fff;
  border-radius: 10px;
  padding: 15px 70px;
  transition: .3s ease;
  &:hover{
    background: #c72eff;
    color: #fff;
  }
}

.portfolio__page{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  &_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.back__icon{
  position: absolute;
  left: 0;
  top: 20px;
}

.services{
  padding-top: 150px;
  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
  }
}

.service{
  position: relative;
  & img{
    width: 100%;
    height: 100%;
  }
  &__title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 35px;
    color: #fff;
    position: absolute;
    z-index: 2;
    max-width: 450px;
    top: 10px;
    left: 15px;
  }
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10.600000381469727px);
    background: rgba(199, 46, 255, 0.47);
    border-radius: 10px;
    opacity: 1;
    transition: .3s ease;
  }
  &:hover::before{
    opacity: 0;
  }
}

.contact{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__right{
    border: 1px solid #c72eff;
    box-shadow: 0 0 10px 1px #c72eff;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    max-width: 673px;
    display: flex;
    flex-direction: column;
    padding: 20px 37px;
    &_title{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 35px;
      color: #fff;
      text-align: center;
    }
    & span {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
    &_form{
      margin-top: 107px;
      display: flex;
      flex-direction: column;
      gap: 15pxpx;
      width: 600px;
      & input{
        all: unset;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #c72eff;
        color: #fff;
        text-align: center;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 30px;
        &::placeholder{
          text-align: center;
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 26px;
          color: #989898;
        }
      }
    }
  }
  &__item_title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    color: #c72eff;
  }
  &__item_text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    color: #fff;
  }
  &__btn{
    all: unset;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    color: #c72eff;   
    text-align: center;
    border: 1px solid #c72eff;
    padding: 20px 0 20px 0;
    width: 100%; 
    margin-top: 107px;
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
    &:hover{
      background: #c72eff;
      color: #fff;
    }
  }
}

.footer{
  background: #1e1e1e;
  padding: 40px 0;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    & span{
      color: #fff;
      font-size: 30px;
      font-family: var(--font-family);
      text-align: center;
      font-weight: 700;
    }
  }
  &__socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & a img{
      width: 64px;
      height: 64px;
    }
  }
}


